.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    position: relative;
    margin-top: clamp(105px, 17vh, 150px);
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0px 10px;
    gap: 50px;
    margin-top: 40px;
}

.imgContainer {
    height: 400px;
    width: 50%;
    position: relative;
}

.img {
    object-fit: cover;
}

.quoteContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.quoteText {
    text-align: center;
    font-family: var(--font-rubik);
    font-weight: 500;
    font-size: 35px;
    font-style: italic;
}

.span {
    color: var(--primary-color);
}

.openQuoteContainer, .closeQuoteContainer {
    width: 100%;
    display: flex;
}

.openQuoteContainer {
    justify-content: flex-start;
}

.closeQuoteContainer {
    justify-content: flex-end;
}

/* .closeQuote {
    margin-left: 95%;
} */

@media (max-width: 1024px) {
    .quoteText {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .bodyContainer {
        flex-direction: column;
    }
    .imgContainer {
        width: 100%;
    }
    .quoteContainer {
        width: 100%;
        align-items: center;
    }
    .quoteText {
        font-size: 26px;
    }
    /* .closeQuote {
    margin: 0;
} */
    
}

@media (max-width: 426px) {
    .bodyContainer {
        width: 95%;
    }
    .quoteContainer {
        gap: 20px;
        width: 90%;
    }
    .quoteText {
        font-size: 22px;
    }
}
