.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    position: relative;
    margin-top: clamp(105px, 17vh, 150px);
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    width: 90%;
    gap: 5px;
}

.boldText, .thinText {
    text-align: center;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0px 10px;
    gap: 35px;
    margin-top: 10px;
}


.imgContainer {
    height: 400px;
    width: 50%;
    position: relative;
}

.img {
    object-fit: cover;
}

.descContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 768px) {
    .bodyContainer {
        flex-direction: column;
    }
    .imgContainer {
        width: 100%;
    }
    .descContainer {
        width: 100%;
        align-items: center;
    }
    .descText {
        text-align: center;
    }
}

@media (max-width: 426px) {
    .bodyContainer {
        width: 95%;
    }
}