.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: clamp(105px, 17vh, 150px);
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.bodyContainer {
    display: flex;
    width: 80%;
    padding: 0px 10px;
    gap: 35px;
}

.thinText {
    font-family: var(--font-nunito);
    color: var(--primary-color);
}

.boldText {
    font-family: var(--font-nunito);
    font-weight: 700;
}

.underline {
    width: 100px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 28px;
}

.descContainer {
    padding: 0px 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.boldTextSpan {
    color: var(--primary-color);
}

.proofContainer {
    background-color: var(--light-primary-color);
    padding: 25px;
    width: 50%;
    height: fit-content;
    align-self: center;
}

.proofFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profileContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.profileName {
    font-family: var(--font-nunito);
    color: var(--primary-color);
    font-weight: 600;
}

.profileRole {
    font-size: 16px;
    font-weight: 600;
}

.shape {
    position: absolute;
    top: 170%;
    left: 2%;
    background-color: var(--secondary-color);
    transform: rotate(-90deg);
    transform-origin: top left;
    padding: 10px 25px;
}

.tag {
    letter-spacing: 7px;
}

@media (max-width: 1024px) {
    .shape {
        display: none;
    }
}


@media (max-width: 768px) {
    .bodyContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boldText, .thinText {
        text-align: center;
    }
    .descContainer {
        width: 100%;
    }

    .proofContainer {
        width: 84%;
    }
    .descContainer, .headerContainer {
        align-items: center;
    }
    .descText, .proofText {
        text-align: center;
    }
}

@media (max-width: 426px) {
    .bodyContainer {
        width: 95%;
    }
    .proofFooter {
        flex-direction: column;
        align-items: center;
    }
    .quoteRight {
        display: none;
    }
}